<div class="add-margin">

  {{#if user}}

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/area">Área Administrador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/area/hosts">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/area/spots">Espaços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="title-add">Bem-vindo a área do Administrador {{user.firstname}} {{user.lastname}} !</div>
      <img id="back-admin" src="/images/back-admin.png" alt="">
    </div>
  </div>
  
  {{/if}}

</div>

<footer>
  <div class="container">
    <div class="row d-flex">
      <div class="col-sm-12 d-flex justify-content-center align-items-center">
        <p class='footer-second-text'><a href="/comofunciona">Como Funciona</a></p>
        <p class='footer-second-text'><a href="/signup">Anuncie seu Espaço</a></p>
        <p class='footer-second-text'><a href="/termosecondicoes">Termos de Uso</a></p>
        <p class='footer-second-text'><a href="/area">Área Restrita</a></p>
        <p class='footer-second-text'><a href="mailto:projeto99espacos@gmail.com">Fale Conosco</a></p>
      </div>
    </div>
  </div>
</footer>