<div class="masthead text-white text-center img-back">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-5 title-index">Encontre o Seu Espaço!</h2>
        <h3 class='second-title-index'>O lugar certo em São Paulo para o seu evento corporativo. Crie um acontecimento
          marcante!</h3>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form action="/search" method="GET">
          <div class="form-row d-flex justify-content-between align-items-center">
            <div class="col-12 col-md-5 mb-2 mb-md-0 search-index">
              <input type="number" class="form-control form-control-lg search-fields-index" name="capacity"
                placeholder="Capacidade de pessoas">
            </div>
            <div class="col-12 col-md-5 mb-2 mb-md-0 search-index">
              <select class="form-control form-control-lg search-fields-index" id="Select" name="format">
                <option selected>Tipo de Espaço</option>
                <option name="format" value="Auditório">Auditório</option>
                <option name="format" value="Formato U">Formato U</option>
                <option name="format" value="Livre">Livre</option>
                <option name="format" value="Sala de Aula">Sala de aula</option>
                <option name="format" value="Sala de Reunião">Sala de reunião</option>
                <option name="format" value="Mesa Redonda">Mesa Redonda</option>
                <option name="format" value="CoWorking">CoWorking</option>
              </select>
            </div>
            <div class="col-12 col-md-2">
              <button type="submit" class="btn btn-block btn-sm btn-secondary" id='search-button-index'>Buscar</button>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <h3 class='second-title-index' id='card-header'>Encontrar o local perfeito é fácil!</h3>
  <div class="card-deck">
    <div class="card" id='comofunciona' style="border: none;">
      <img src="/images/choose-spot.jpg" class="card-img-top card-logo" alt="Escolha o Seu Espaço">
      <div class="card-body">
        <h5 class="card-title">Escolha</h5>
        <p class="card-text">Analise todas as informações e escolha seu espaço preferido.</p>
      </div>
    </div>
    <div class="card" style="border: none;">
      <img src="/images/require-budget.jpg" class="card-img-top card-logo" alt="Solicite um Orçamento para o Evento">
      <div class="card-body">
        <h5 class="card-title">Solicite um Orçamento</h5>
        <p class="card-text">Customize o evento às suas necessidades e avalie o investimento necessário.</p>
      </div>
    </div>
    <div class="card" style="border: none;">
      <img src="/images/booking.jpg" class="card-img-top card-logo" alt="Reserve seu Espaço. Faça Seu Evento">
      <div class="card-body">
        <h5 class="card-title">Reserve Seu Espaço</h5>
        <p class="card-text">Efetue o pagamento ao locador e faça a sua reserva. Realize o seu evento!</p>
      </div>
    </div>
  </div>

  <h3 class='second-title-index' id='card-header'>As Melhores Soluções</h3>
  <div class="card-deck">
    <div class="card" style="border: none;">
      <img src="/images/excellent.jpg" class="card-img-top card-logo" alt="Excelência na escolha dos locais">
      <div class="card-body">
        <h5 class="card-title">Excelência</h5>
        <p class="card-text">Fazem parte da 99 espaços exclusivamente os locais certificados pela equipe.
        </p>
      </div>
    </div>
    <div class="card" style="border: none;">
      <img src="/images/time.png" class="card-img-top card-logo" alt="Rapidez nas escolhas">
      <div class="card-body">
        <h5 class="card-title">Velocidade</h5>
        <p class="card-text">Tenha as informações para o seu evento com rapidez, tome decisões no seu tempo.</p>
      </div>
    </div>
    <div class="card" style="border: none;">
      <img src="/images/be-unique.jpg" class="card-img-top card-logo"
        alt="Customize, faça do seu evento um acontecimento único">
      <div class="card-body">
        <h5 class="card-title">Unicidade</h5>
        <p class="card-text">Customize o evento, seja único em suas escolhas.</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row d-flex">
      <div class="col-sm-12 d-flex justify-content-center align-items-center">
        <p class='footer-second-text'><a href="/comofunciona">Como Funciona</a></p>
        <p class='footer-second-text'><a href="/signup">Anuncie seu Espaço</a></p>
        <p class='footer-second-text'><a href="/termosecondicoes">Termos de Uso</a></p>
        <p class='footer-second-text'><a href="/area">Área Restrita</a></p>
        <p class='footer-second-text'><a href="mailto:projeto99espacos@gmail.com">Fale Conosco</a></p>
      </div>
    </div>
  </div>
</footer>