<div class="add-margin">
  <div class='container'>

    <h3 id='terms-main-header'>- Termos de Uso -</h3> <br>

    <p id='p-terms'>Este documento integra um conjunto de ações que a 99 Espaços estabelece sobre privacidade e
      segurança
      de dados, e
      visa informar as responsabilidades, deveres e obrigações que todo internauta assume ao acessar Portal 99 Espaços,
      sendo regido pelas condições abaixo transcritas.</p>

    <h3 id='terms-main-header'>Definições</h3> <br>

    <div class="text-wrap text-justify" style="width: 95%">

      <div>

        <span class='terms-options-header'>I. Sem prejuízo de outras definições constantes nesta Política, os seguintes
          termos terão os significados a
          eles
          designados abaixo: </span> <br><br>

        <p class='text-break'>
          1º/ “internauta": todo aquele que, de alguma forma, acessa o Portal 99 Espaços, sendo anunciante ou não. <br>

          2º/ "anunciante": todo aquele que utiliza os produtos e/ou serviços oferecidos pelo Portal 99 Espaços, pagos
          ou
          não. <br>

          3º/ "usuário": todo aquele que se cadastrar neste Portal e receber uma identificação individual e exclusiva.
          <br>

          4º/ “dado pessoal”: qualquer informação relativa a uma pessoa identificada ou identificável, incluindo seu
          nome
          completo ou nome comercial, endereço físico e eletrônico, número de telefone, RG, CPF ou CNPJ, número de
          cartão
          de crédito, preferências e padrões de acesso, incluindo todo endereço ou número de identificação de um
          terminal
          utilizado para conexão a uma rede de computadores. <br>
        </p>

      </div>

      <div>

        <span class='terms-options-header'>
          II. Os internautas e usuários devem ler com atenção os termos abaixo antes de acessar ou usar a 99 Espaços,
          pois
          seu
          acesso ou uso implica concordância com tais termos:
        </span> <br><br>

        <p class='text-break'>
          a) A 99 Espaços e seus respectivos parceiros envolvidos nos produtos e/ou serviços disponibilizados neste
          Portal
          somente fornecerão ao internauta ou usuário informações e serviços mediante concordância aos termos, condições
          e
          informações aqui contidas, assim como aos demais documentos incorporados a ele por referência. <br>

          b) O uso do Portal 99 Espaços significa a total concordância com tais termos, condições e informações aqui
          contidos.
          <br>

          c) A 99 Espaços veicula anúncios advindos de diversos anunciantes, sendo certo que é apenas um veículo de
          divulgação,
          não atuando, em hipótese alguma, como prestador de serviços de consultoria em nenhum negócio entre o
          internauta/usuário e o(s) anunciante(s). <br>

          d) Dessa forma, a 99 Espaços não assume responsabilidade por nenhuma consequência que possa advir de qualquer
          relação
          entre o internauta/usuário e o(s) anunciante(s), seja ela direta ou indireta, atuando apenas e tão somente
          como
          um
          classificado eletrônico de espaços para eventos. Assim, a 99 Espaços não é responsável por qualquer ação ou
          omissão
          do internauta ou usuário baseada nas informações, anúncios, fotos, vídeos ou outros materiais veiculados no
          Portal
          99 Espaços, ressaltando que toda e qualquer transação deve ser realizada de forma segura e com cautela. <br>

          e) A 99 Espaços informa que as imagens utilizadas pelo Portal, para ilustração do website, reportagens e
          outros,
          são
          meramente ilustrativas e sem fins comerciais. Adicionalmente, a 99 Espaços envida seus melhores esforços para
          manter
          o Portal sempre atualizado, preciso e completo, mas não se responsabiliza por imprecisão, erro, fraude,
          inexatidão
          ou divergência nos dados, fotos e vídeos ou outros materiais relacionados a anúncios ou à imprecisão das
          informações
          aqui contidas. Além disso, a 99 Espaços não se responsabiliza por eventuais danos e/ou problemas decorrentes
          da
          demora, interrupção ou bloqueio nas transmissões de dados ocorridos na Internet. <br>

          f) Por isso, nos casos em que um ou mais internauta, usuário ou algum terceiro inicie qualquer tipo de
          reclamação ou
          ação legal contra um ou mais anunciantes, todos os envolvidos nas reclamações ou ações devem eximir de toda
          responsabilidade a 99 Espaços e seus funcionários, agentes, operários, representantes e procuradores. <br>

          g) A 99 Espaços também não se responsabiliza pelas obrigações tributárias que recaiam nas atividades entre
          usuários e
          anunciantes da 99 Espaços. Assim, ao adquirir algum serviço, o consumidor deverá exigir nota fiscal do
          anunciante,
          a
          menos que este esteja legalmente dispensado de fornecê-la. <br>

        </p>
      </div>

      <div>

        <span class='terms-options-header'>
          III. Com a finalidade de oferecer a melhor experiência durante a sua navegação no Portal 99 Espaços e também
          na
          internet,
          a 99 Espaços pode utilizar cookies e coletar, tratar, armazenar e/ou compartilhar e parceiros, informações
          pessoais,
          de contato e de sua navegação para: <br><br>
        </span>
        <p class='text-break'>
          - Garantir maior segurança durante a sua navegação; <br>

          - Aperfeiçoar sua usabilidade, experiência e interatividade na utilização dos nossos portais, sites,
          aplicativos,
          e-mails e durante a sua navegação na internet; <br>

          - Fazer ofertas e/ou te dar informações mais assertivas e relevantes às suas necessidades e interesses; <br>

          - Buscar maior eficiência em relação à frequência e continuidade da nossa comunicação com você; <br>

          - Responder suas dúvidas e solicitações; <br>

          - Realizar pesquisas de comunicação e marketing de relacionamento, para melhorar nossos produtos e serviços,
          bem
          como apuração de estatísticas em geral; <br>
        </p>
      </div>

      <div>

        <span class='terms-options-header'>
          IV. Sendo assim, por meio deste Termo de Uso, o usuário aceita ser identificado pelo sistema da 99 Espaços,
          através
          do
          uso de "cookies". Mais informações podem ser obtidas através da Política de Privacidade e Segurança de Dados
          da
          99
          Espaços e nos termos da política de cookies - Conteúdo da página sobre cookies. <br><br>
        </span>

        <p class='text-break'>

          - Lembramos que você pode, a qualquer momento, ativar em seu navegador mecanismos para informá-lo quando os
          mesmos
          estiverem acionados ou, ainda, para bloqueá-los. <br>

          - Caso o internauta ou usuário acesse o site de parceiros, patrocinadores, anunciantes e demais sites que
          sejam
          acessados através do Portal 99 Espaços, é possível que haja solicitação de informações financeiras e/ou
          pessoais. <br>

          - Entretanto, tais informações não estarão sendo enviadas pelo usuário à 99 Espaços, e sim diretamente ao
          solicitante,
          não tendo a 99 Espaços, portanto, qualquer responsabilidade pela utilização e manejo dessa informação. <br>

        </p>

      </div>


      <div>

        <span class='terms-options-header'>
          V. Os internautas e usuários que acessam o Portal 99 Espaços obrigam-se a:<br><br>
        </span>

        <p class='text-break'>


          - Não utilizar o Portal 99 Espaços com qualquer propósito criminoso, nocivo, ilegal, ameaçador, ofensivo,
          calunioso,
          difamatório, desrespeitoso, infundado, discriminatório e/ou que deixe de atender critérios de veracidade; <br>

          - Não enviar ou transmitir quaisquer tipos de informações que induzam, incitem ou resultem em atitudes
          discriminatórias, mensagens violentas ou delituosas que atentem contra a moral e bons costumes e que
          contrariam
          a
          ordem pública; que assedie ou invada a privacidade alheia, seja vulgar, profana, sexualmente explícita,
          obscena,
          racial ou etnicamente ofensiva, ou, de qualquer outra forma, inaceitável por causar riscos ou danos de imagem,
          materiais ou morais à 99 Espaços, seus empregados, qualquer um dos seus colaboradores ou terceiros; <br>

          - Não cadastrar-se com informações falsas ou de propriedade de terceiros; <br>

          - Não enviar qualquer informação que não de domínio público sobre a 99 Espaços ou qualquer outra empresa ou
          pessoa,
          sem a devida autorização. Isso inclui fornecer informações (e-mail, endereço, telefone e outras) de natureza
          nitidamente pessoal do próprio usuário ou de terceiros; <br>

          - Não alterar, apagar ou corromper dados e informações de terceiros; <br>

          - Não violar a privacidade de outros internautas ou usuários; <br>

          - Não enviar ou transmitir arquivos com vírus de computador, com conteúdo destrutivo, invasivo ou que causem
          dano
          permanente ou temporário nos equipamentos do destinatário, da 99 Espaços ou no Portal; <br>

          - Não utilizar endereços de computadores, de rede ou de correio eletrônico falsos; <br>

          - Não infringir qualquer direito a patente, marca, segredo industrial, copyright, outros direitos de
          propriedade
          de
          qualquer parte, ou configurar qualquer tipo de atos ou omissões contrários à legislação e/ou considerados
          crimes,
          incluindo, mas não se limitando, a crimes contra a honra (injúria, difamação, calúnia), crimes de concorrência
          desleal e outros crimes tipificados na lei de Propriedade Industrial (9.279/96) e na Lei de Direito Autoral
          (9.610/98); <br>

          - Não utilizar os dados para contato de anunciantes com outro propósito que não seja o de encaminhar proposta
          comercial; <br>

          - Não utilizar os produtos e/ou serviços disponíveis neste Portal para fins diversos daqueles a que se
          destinam;
          <br>

          - Não utilizar o Portal para fins outros além daqueles que ordinariamente se espera de um internauta e/ou
          usuário
          interessado na 99 Espaços. <br>
        </p>
      </div>

      <div>

        <span class='terms-options-header'>
          VI. Responsabilidades do internauta/usuário: <br><br>
        </span>

        <p class='text-break'>

          - Ser cuidadoso com os dados de sua identificação individual sempre que acessar a Internet, informando-os
          apenas
          em
          operações em que exista a proteção de dados; <br>

          - Fornecer informações verídicas e de sua titularidade; <br>

          - Ser responsável por qualquer tipo de informação ou afirmação originadas com seu nome de usuário e senha;
          <br>

          - Manter em sigilo a sua identificação de usuário (nome e senha); <br>

          - Desconectar sua conta do Portal 99 Espaços tão logo deixe de acessá-lo, principalmente se dividir o
          computador
          com
          outra pessoa; <br>

          - Configurar seu equipamento de forma a protegê-lo de eventuais invasões que resultem em propagação de vírus;
          <br>

          - Cumprir rigorosamente todas as determinações deste Termo de Uso. <br>

          - Realizar avaliações e comentários de anunciantes somente baseados em experiências reais. <br>
        </p>
      </div>

      <div>

        <span class='terms-options-header'>
          VII. Propriedade intelectual, direitos autorais e de marcas comerciais: <br><br>
        </span>

        <p class='text-break'>


          1) A propriedade intelectual de todo o material apresentando no Portal é de titularidade da 99 Espaços – ou de
          seus
          anunciantes, clientes, parceiros e fornecedores –, incluindo marcas, logotipos, produtos, sistemas,
          denominações
          de
          serviços, programas, bases de dados, imagens, arquivos ou materiais de qualquer outra espécie. É proibida, sem
          a
          prévia autorização por escrito dos responsáveis acima identificados, a reprodução de qualquer material do
          Portal
          99
          Espaços, entendendo-se por reprodução todas as formas possíveis de cópia e distribuição/veiculação. <br>

          2) As marcas comerciais apresentadas no Portal são de propriedade da 99 Espaços ou de seus clientes,
          anunciantes,
          parceiros ou fornecedores, sendo que a simples apresentação das marcas no Portal não poderá ser interpretada
          como
          concessão, sendo igualmente proibida a utilização ou qualquer tipo de reprodução de tais marcas. <br>

          3) O uso indevido de propriedade intelectual será caracterizado como violação das leis sobre direitos autorais
          e/ou
          de
          marcas e sujeitará o infrator às sanções judiciais cabíveis, sem prejuízo de indenização pelos prejuízos
          causados
          à
          99 Espaços ou terceiros. <br>
        </p>
      </div>

      <div>

        <span class='terms-options-header'>
          VIII. Riscos tecnológicos:
        </span>
        <br><br>

        <p class='text-break'>
          Se o uso do Portal 99 Espaços resultar na necessidade de serviços ou reposição de material, propriedade,
          equipamento
          ou informação do usuário, a 99 Espaços e suas afiliadas não serão responsáveis por tais custos. <br>

          1) As informações, "software", produtos, valores e serviços publicados neste portal podem conter erros
          tipográficos
          ou
          imprecisões. Alterações e ajustes das informações são realizados periodicamente. <br>

          2) Apesar de adotar altos níveis de segurança para a proteção dos dados e informações coletados, é importante
          que
          os
          usuários tenham ciência de que, pela própria natureza e características técnicas da internet, há sempre o
          risco
          de
          que terceiros não autorizados, de alguma forma, consigam violar esses mecanismos de proteção e ter acesso a
          tais
          informações, motivo pelo qual o 99 Espaços não pode garantir a total privacidade e segurança na utilização do
          aplicativo ou no armazenamento dos dados. <br>

          3) Em nenhum caso a 99 Espaços será responsabilizada por qualquer dano direto, indireto, incidental, especial
          ou
          como
          consequência de quaisquer fatos resultantes do mau uso do portal ou da inabilidade de uso deste, ou ainda por
          quaisquer informações, produtos ou serviços obtidos através dele ou em decorrência do seu uso. <br>
        </p>
      </div>

      <div>

        <span class='terms-options-header'>
          IX. Mudanças no portal:
        </span>
        <br><br>

        <p class='text-break'>
          A 99 Espaços, suas afiliadas e seus fornecedores poderão fazer mudanças nas informações, serviços, produtos e
          outros
          materiais do Portal 99 Espaços, ou ainda encerrar as atividades, a qualquer momento, sem nenhuma notificação
          prévia
          ao usuário e sem possibilidade de indenização.
        </p>
      </div>

      <div>

        <span class='terms-options-header'>
          X. Infração do termo de uso do Portal 99 Espaços: <br><br>
        </span>

        <p class='text-break'>

          O internauta/usuário que violar o presente Termo de Uso será notificado a cessar a prática irregular, sem
          prejuízo
          das cominações legais que tais irregularidades venham a causar, podendo o serviço contratado ser interrompido
          até
          sua completa solução, ou, em caráter definitivo, a critério exclusivo da 99 Espaços.
        </p>

      </div>

      <div>

        <span class='terms-options-header'>
          XI. Aceitação do termo de uso do Portal 99 Espaços: <br><br>
        </span>

        <p class='text-break'>

          a) A navegação e utilização do Portal 99 Espaços implicará em expressa aceitação quando aos termos e condições
          do
          Termo
          de Uso vigente na data de sua utilização. Recomendamos aos usuários que não concordem com estes Termos de Uso
          vigente, a não utilização e navegação neste Portal. <br>

          b) A 99 Espaços poderá alterar este Termo de Uso a qualquer momento, razão pela qual solicitamos a leitura
          periódica
          deste Termo como meio de se cientificar das responsabilidades, deveres e obrigações que o internauta assume ao
          utilizar o Portal 99 Espaços. <br>

          c) Caso alguma modificação no Termo de Uso venha a ocorrer, será fornecido um aviso da alteração para ciência
          do
          anunciante/usuário via e-mail ou notificação no painel de controle. <br>
        </p>

      </div>
    </div>


  </div>
</div>
<footer>
  <div class="container">
    <div class="row d-flex">
      <div class="col-sm-12 d-flex justify-content-center align-items-center">
        <p class='footer-second-text'><a href="/comofunciona">Como Funciona</a></p>
        <p class='footer-second-text'><a href="/signup">Anuncie seu Espaço</a></p>
        <p class='footer-second-text'><a href="/termosecondicoes">Termos de Uso</a></p>
        <p class='footer-second-text'><a href="/area">Área Restrita</a></p>
        <p class='footer-second-text'><a href="mailto:projeto99espacos@gmail.com">Fale Conosco</a></p>
      </div>
    </div>
  </div>
</footer>